* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header, .hero {
    background-color: #1f2937;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 8px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding: 0 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 60px 120px 120px;
    gap: 60px;
}

.hero img {
    max-width: 500px;
    max-height: 300px;
    width: auto;;
    height: auto;
    object-fit: cover;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: #3882f6 solid 2px;
    padding: 6px 22px;
}

.hero-text h1,
.hero-text p,
.hero-text button {
    margin: 8px;
}